//@import "/node_modules/element-ui/lib/theme-default/index.css";
//@import "./variables.styl";

html
  height: 100%;
  width: 100%;
  overflow: hidden;
  body
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;


.el-loading-mask
  position: fixed !important
